<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=1024"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<title>Faut-il supprimer les voitures des villes ?</title>

	<meta name="description" content=""/>
	<meta name="author" content="Adrien BOCQUET"/>
	<meta name="author" content="Gaël BLAISE"/>
	<meta name="author" content="Morgane GOULAIN"/>
	<meta name="author" content="Ines HARANG"/>
	<meta name="author" content="Pierre WAN-FAT"/>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/white.css">
	<link rel="stylesheet" href="css/contro.css">

</head>

<body>

<div class="reveal">

	<div class="slides">
		{% for article in articles %}
			{% if article.isHead %}
				{% if not loop.first %}
					</section>
				{% endif %}

				<section>
			{% endif %}
			{{ render(article) }}

			{% if loop.last %}
				</section>
			{% endif %}
		{% endfor %}
	</div>

</div>


<script src="reveal/lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script>
	Reveal.initialize({
		dependencies: [
			{ src: 'bower_components/reveal.js-menu/menu.js', async: true }
		],

		transition: 'slide',
		history: true,

		menu: {
			openSlideNumber: true,
			themes: true,
			themesPath: 'lib/reveal.js/css/theme/'
		}
	});
</script>

</body>
</html>

